:javascript
  $(function() {
    $(".detail").hide();

    $("#event-table").on('click', function(e) {
      if ($(e.target).is('a')) return;
      if (($row = $(e.target).parents("tr.event")).length) {
        var id = $row.attr('id').split('-');
        $("#event-details-" + id[id.length - 1]).toggle();
      }
    });

    $(".ninja-box").hide();

    $(".ninja").on('click', function(e) {
      if (Math.random() < 0.08) {
        e.preventDefault();
        $(window).scrollTop(0);

        $(".ninja-box").show();
        $(".ninja-animation").prepend("<img src='#{image_path 'ninja.gif'}?"+Math.random()+"' style='float:right' />");
        $(".ninja-animation").animate({ left: 0 }, 4000, function() {
          $(".ninja-box").fadeOut(500, function() {
            window.location = e.target.href;
          });
          $(".ninja-animation").html('');
        });
      }
    });
  });
:css
  h2 select {
    font-size: 18px;
  }
  #event-table, #event-table tr {
    border: 0px;
  }
  #event-table a {
    color: #111;
  }
  #event-table .event {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  #event-table .title {
    font-size: 14px;
  }
  .btn {
    display: inline-block;
    font-size: 14px;
    line-height: 2.5em;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    color: #000;
  }
  .btn:hover {
    background-color: rgba(0,0,0,0.3);
    color: #666;
  }
  .ninja-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
  }
  .ninja-animation {
    height: 150px;
    background-color: #33333D;
    position: absolute;
    top: 30%;
    left: -100%;
    width: 100%;
  }
.ninja-box
  .ninja-animation
%h2
  Filter Events:
  =select_tag :state, options_for_select([['All Events', ''], ['Todo Events', 'todo']] + Event.all_states.map{|s| [Event.state_descriptions[s], s]}, params[:state]), :onchange => "javascript:window.location=\"#{events_path}/\"+this.value;"
-if params[:state] == 'todo' && @num_to_reclaim > 0
  %h3
    Also:
    =link_to event_state_path(:disbursement_done) do
      #{@num_to_reclaim} events to reclaim funding from!

%table#event-table
  %thead
    %th{ :width => '100'} Event ID
    %th Title
    %th{ :width => '300'} Organization
  %tbody
    -@events_by_state = Hash.new([]).merge(@events.group_by { |e| e.state_name })
    -@events_by_state.each do |s, event_list|
      %tr
        %th{ :colspan => 5 }= Event.state_descriptions[s]
      -event_list.each do |e|
        %tr.event{ :id => "event-#{e.id}" }
          %td= e.collegiatelink_id
          %td.title
            %b #{e.title}
          %td
            -if e.organization
              #{link_to e.organization.name, e.organization}
        %tr.detail{ :id => "event-details-#{e.id}" }
          %td
          %td
            %b Starts:
            =e.to_s(:starts)
            %br
            %b Ends:
            =e.to_s(:ends)
            %br
            %b State:
            =e.to_s(:state)
            - if e.state_name == :disbursement_done
              %br
              =link_to 'Reclaim Funds', reclaim_funds_event_url(e), :class => 'btn'
              =link_to 'Cancel Event', cancel_event_url(e), :class => 'btn'
            - elsif e.desired_state != e.state_name
              %br
              %b Desired State:
              =e.to_s(:desired_state)
              %br
              =link_to 'Update Event State', update_state_event_path(e), :class => 'btn'
              =link_to 'Ninja Update Event State', update_state_event_path(e, :ninja => 'true'), :class => 'btn ninja'
          %td{ :id => "exec-board-#{e.organization_id}" }
            -if e.organization
              =render 'exec_list', :organization => e.organization
