%h2 #{@event.organization.name}'s #{@event.title}
%p
  Here are details about the event...
%table
  %tbody
    %tr
      %th{ :scope => 'row' } Starts
      %td= @event.starts
    %tr
      %th{ :scope => 'row' } Ends
      %td= @event.ends
    %tr
      %th{ :scope => 'row' } Event State
      %td
        = Event.state_descriptions[@event.state]
        - if @event.desired_state != @event.state_name
          %br
          %b Should Be: #{Event.state_descriptions[@event.desired_state]}
          %h2= link_to 'Update Event State', update_state_event_path(@event)

