%p
  Dear Officers of #{@event.organization.name},
%p
  This is the final email regarding your event, "#{@event.title}"
  - if @event.in_future?
    that was scheduled for #{@event.starts.to_date}
  - else
    that you held on #{@event.starts.to_date}.
%p
  Per the new
  #{link_to 'Dynamic Rolling Funding System', 'https://spartanlink.case.edu/organization/usg/news/details/20951'}, two weeks after the event, any unused or unspent money from this event will be reallocated to other USG student organizations via Rolling Funding. This email signifies that remaining funds (if any) for this event have been reallocated.
%b
  If you still have receipts to submit, please email your group's USG Treasurer and USG VP of Finance (#{mail_to 'usg-vpfinance@case.edu'}) immediately.
%p
  Please let us know if you have any questions or concerns. As always, your organization is welcome to
  -if @event.organization.collegiatelink_url
    =link_to 'apply for Rolling Funding', "#{@event.organization.collegiatelink_url}Finance/CreateFundingRequest"
  -else
    apply for Rolling Funding
  to obtain additional funds for another event or to obtain funding for a new event.
