%p
  Dear Officers of #{@event.organization.name},
%p
  Hi! We just wanted to confirm that your organization was still planning to
  hold your event "#{@event.title}" on #{@event.starts.to_date}.
%p
  %b
    You may change any information about your event (including its date) any
    time before the event starts.
  If your event is not going to happen, we ask that you cancel your event on
  SpartanLink so we can return the funding to other groups. If you would like
  to reallocate funding from this event to another event, we ask that you cancel
  this event and
  = link_to 'apply for Rolling Funding', "#{@event.organization.collegiatelink_url}Finance/CreateFundingRequest"
  for the other event.
%p
  To make any changes to your event, or to cancel it:
%ol
  %li Go to #{link_to "your organization's page on SpartanLink", @event.organization.collegiatelink_url} and log in
  %li Click on "Events" in the left hand column
  %li Click on the corresponding event
  %li Click "Change" or "Cancel" and fill out the following information
%p
  If you plan to use the P-Card to buy supplies for your event, please submit a
  Purchase Request on SpartanLink and turn in a printed copy the box in the USG
  Office as soon as possible!
%p
  Please do not hesitate to email the USG VP of Finance, Colin Williams
  (#{mail_to 'usg-vpfinance@case.edu'}), your organization's USG Treasurer
  (#{mail_to 'lap80@case.edu', 'Laura Payne'} or #{mail_to 'ler52@case.edu', 'Levi Ridgeway'}) with any questions.
