%p
  Dear Officers of #{@event.organization.name},
%p
  Hi! We just wanted to confirm that your organization was still planning to
  hold your event "#{@event.title}" on #{@event.starts.to_date}.
%p
  %b
    You may change any information about your event (including its date) any
    time before the event starts.
  If your event is not going to happen, we ask that you cancel your event on
  MyExperience so we can return the funding to other groups. If you would like
  to reallocate funding from this event to another event, we ask that you cancel
  this event and
  - if @event.organization.collegiatelink_url.present?
    = link_to 'apply for Rolling Funding', "#{@event.organization.collegiatelink_url}Finance/CreateFundingRequest"
  - else
    apply for Rolling Funding
  for the other event.
%p
  To make any changes to your event, or to cancel it:
%ol
  - if @event.organization.collegiatelink_url.present?
    %li Go to #{link_to "your organization's page on MyExperience", @event.organization.collegiatelink_url} and log in
  - else
    %li Go to your organization's page #{link_to "on MyExperience", 'https://experience.case.edu'} and log in
  %li Click on "Events" in the left hand column
  %li Click on the corresponding event
  %li Click "Change" or "Cancel" and fill out the following information
%p
  If you plan to use the P-Card to buy supplies for your event, please submit a
  Purchase Request on MyExperience and turn in a printed copy the box in the USG
  Office as soon as possible!
%p
  Please do not hesitate to email the
  USG VP of Finance, #{USG_VP_FINANCE.userFirstName} #{USG_VP_FINANCE.userLastName}
  (#{mail_to 'usg-vpfinance@case.edu'}), or your organization's USG Treasurer
  (
  - USG_TREASURERS.each do |t|
    = mail_to t.userCampusEmail, "#{t.userFirstName} #{t.userLastName}"
  ) with any questions. For more information, read
  = link_to 'the USG news post detailing the new Dynamic Rolling Funding procedure.', 'https://experience.case.edu/organization/usg/news/details/20951'
%p
  To learn how to join other student groups who are making their events less environmentally harmful, visit SSC's
  = link_to 'Mini Green Your Event Guide', 'http://ssc.case.edu/eventguide/'
