!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}
    %title USG
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    %meta{:name => "viewport", :content => "width=460"}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1'}
  %body
    .body-container
      %header#header
        #container
          #navigation
            %ul
              %li
                = link_to 'Home', root_path
              - if logged_in?
                - if @logged_in_user.is_finance_team
                  %li.has_subbar
                    = link_to 'Events', events_path
                    .subbar
                      %ul
                        %li= link_to 'Import Events', import_events_path
                        %li= link_to "To Reclaim (#{@num_to_reclaim})", event_state_url(:disbursement_done)
                        %li= link_to "Wrong State (#{@num_wrong_state})", event_state_url(:todo)
                        %li= link_to 'View All Events', events_path
                  %li.has_subbar
                    = link_to 'Organizations', organizations_path
                    .subbar
                      %ul
                        %li= link_to 'Sync Organizations', sync_organizations_path
                        %li= link_to 'View All Organizations', organizations_path
                - if @logged_in_user.current_positions.present?
                  %li.has_subbar
                    = link_to 'My Organizations', '#'
                    .subbar
                      %ul
                        - @logged_in_user.current_positions.each do |p|
                          %li= link_to p.organization.name, p.organization
                %li.has_subbar
                  = link_to current_user, user_path(@logged_in_user.id)
                  .subbar
                    %ul
                      %li= link_to 'Log Out', logout_users_path
                      %li= link_to 'Manage Permissions', users_path
              - else
                %li= link_to 'Log In', login_users_path
      #container.logo
        #logo
          %a{:href => "http://usg.case.edu/"}
            =image_tag 'logo.png'
          %h1
            %a{:href => root_url} Undergraduate Student Government
      #container
        #content.page
          = yield
      .body-container-push
    %footer#footer
      #container
        .footer-left
          The
          %strong USG
          is a member of the
          %a{:href => "http://students.case.edu/activities/involvement/sec.html"} Student Executive Council
          at
          %a{:href => "http://case.edu/"} Case Western Reserve University
