- if Rails.env != "production"
  .testing This e-mail was sent from development mode. Please disregard this message.
%table#header
  %tr
    %td{ :width => '130'}= image_tag 'http://usg.case.edu/events/assets/logo.png', :width => '130', :alt => 'USG Logo'
    %td
      %h2 Undergraduate Student Government
= yield
%p
  Thanks,
  %br
  The USG Finance Team
#footer
  This email was sent automatically by USG. If you have received this message in
  error, please make sure you are not incorrectly listed as an executive member of
  - if @event.organization.collegiatelink_url.present?
    = link_to "#{@event.organization.name} on MyExperience.", @event.organization.collegiatelink_url
  - else
    #{@event.organization.name} on MyExperience.
  If you continue to receive these messages in error, please forward the message
  to #{mail_to 'ted27@case.edu'}.
